* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    object-position: center;
    border-radius: 15px;
    display: none;
}   

.active {
    display: block;
}


#carosel {
    position: relative;
    height: 600px;
}


#prev {
    text-align: center;
    position: absolute;
    top: 45%;
    left: -10%;
    cursor: pointer;
    
}

#next {
    text-align: center;
    position: absolute;
    top: 45%;
    right: -10%;
    cursor: pointer;
}

.bi {
    font-size: 50px;
}

#titolo {
    position: absolute;
    top: 5px;
    right: 15px;
    color: white;
}

#descrizione {
    position: absolute;
    top: 50px;
    right: 15px;
    color: white;

}
.margine {
    margin-top: 50px;
}

.thumbnails img {
    display: block;
    cursor: pointer;
    filter: grayscale(1);
}

.thumbnails img.active {
    filter: grayscale(0);
}

